{% extends 'main/base.html' %}
{% block title%} 
{%endblock%} 

{% block content %}
<div class=' p-6'>
<h2>Welcome to your To-Do-List</h2>
<h3>Hi {{user.username}},</h3>
<h3>This is your personal ToDoList</h3>
        <h4>{{ todolist.name }}</h4>
            {%for item in todolist.items_set.all%}
            <ul style="cirle">
                <li><input type="checkbox">{{item.text}}</li>
            </ul>
            {% endfor %}
<input type='button' name="add" value="add-item(s)" class='btn btn-success'>
        </div>
{% endblock%}
